body {
  background: #111528;
  color: #a3a3a3;
  
}


.links {
  width: 350px;
  display: flex;
  justify-content: space-between;
  margin-left: 50%;
  transform: translate(-50%);
  top: 0;
}

.links a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.links a:hover {
  color: #f2e585;
}


.presentacion {
  margin-left: 18%;
  margin-top: 10%;
  width: 500px;
  font-size: 24px;
}

.presentacion a{
  text-decoration: none;
  margin: 15px;
}

.presentacion img {
  border-radius: 999px;
  width: 100px
}
.disponible {
  background: transparent;
  border: solid ;
  color: #51e4b8;
  border-radius: 10px;
  width: 170px;
  font-size: 16px;
  /*animation: circulo linear infinite;*/
  
  
}


.botones{
  background:transparent;
  color: #a3a3a3;
  border-radius: 10px;
  margin: 10%;
  font-size: 16px;
}

.presentacion span {
  color: #FEF08A;
}

.experiencia {
  margin-top: 10%;
  margin-left: 40%;
  font-size: 30px;
  color: aqua;
  animation: cambiodecolor linear infinite 1000ms;
}


@keyframes cambiodecolor {
  to {
    color: white;
    font-size: 32;
  }
}

.proyectos {
  margin: 20%;
  
}


.proyectos >span {
  width: 20px;
}
